#mySavedModel {
    visibility: hidden;
    height: 0px;
}

.gentree {
    background-color: var(--white);
    border: 15px solid whitesmoke; 
    border-radius: 5px;
    width: 100%; 
    min-height: 300px;
    height: 100%; 
    position: relative; 
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    cursor: auto;
    overflow: hidden;
}

.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-gap: 10px;
}

.save {
    background-color: var(--orange);
}

.zoom {
    background-color: var(--orange);
}

.content {
    height: 90vh;
}

@media screen and (min-width: 600px) {

    /* no grid support? */
    .block-a,
    .block-b,
    .block-c {
        float: left;
        width: 19.1489%;
    }

    .content {
        float: right;
        width: 79.7872%;
    }

    .wrapper {
        margin: 0 auto;
        grid-template-columns: 1fr 5fr;
        grid-auto-rows: minmax(150px, auto);
    }


    .block-a {
        grid-column: 1;
        grid-row: 1;
    }

    .block-b {
        grid-column: 1;
        grid-row: 2/5;
    }

    .block-c {
        grid-column: 1;
        grid-row: 5;
    }

    .content {
        grid-column: 2;
        grid-row: 1 / 6;
    }

}

.wrapper>* {
    background-color: var(--darkbrown);
    color: whitesmoke;
    font-family: var(--josefin);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    /* needed for the floated layout*/
    margin-bottom: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
    .wrapper>* {
        width: auto;
        margin: 0;
    }
}