<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>GedMap</title>
    <link rel="stylesheet" href="../styles/gedmap.css">
    <link rel="stylesheet" href="../styles/import.css">
</head>

<body>
    <nav>
        <ul><span>
            <li>GedMap</li>
            <li>Upload</li>
            <li>Viewer</li>
            <li>Source code</li>
            </span>
        </ul>
    </nav>
    <div id="import-block" class="fixed-center">
        <label for="file-upload" class="upload btn  fixed-center">
            Import .gedcom
        </label>
        <input id="file-upload" type="file" accept=".ged">
    </div>
</body>