<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>GedMap</title>
    <link rel="stylesheet" href="../styles/gedmap.css">
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <nav>
        <ul><span>
            <li>GedMap</li>
            <li>Upload</li>
            <li>Viewer</li>
            <li>Source code</li>
            </span>
        </ul>
    </nav>
    <div id="welcome">
        <h1>Show your geneaology tree to the world.</h1>
        <h1>Better.</h1>
        <div>Start now with just one import of your .gedcom file and easily migrate from </div>
        <div>MyHeritage, Ancestry and more.</div>
    </div>
    <div id="left-side" class='slanted'>
        <button id="btn-left" class="btn" onclick="window.location.href='./viewer.html';">
            Go to Viewer
        </button>
    </div>
    <div id="right-side" class='slanted'>
        <button id="btn-right" class="btn" onclick="window.location.href='./import.html';">
            Go to Import
        </button>
    </div>
</body>