<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>GedMap</title>
    <link rel="stylesheet" href="../styles/gedmap.css">
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li>
                <h2><a href="./index.html">GedMap</a></h2>
            </li>
            <li><a href="./import.html">Upload</a></li>
            <li><a href="./viewer.html">Viewer</a></li>
            <li><a target=”_blank href="https://github.com/mfrszpiotro/gedmap">Source code</a></li>
        </ul>
    </nav>
    <script type="text/javascript" src="../scripts/hideNav.js"></script>
    <div id="welcome">
        <h1>Show your geneaology tree to the world.</h1>
        <h1>Better.</h1>
        <div>Start now with just one import of your .gedcom file and easily migrate from </div>
        <div>MyHeritage, Ancestry and more.</div>
    </div>
    <div id="sides-container">
        <svg id="left-side" class="sides-fix svg-triangle" preserveAspectRatio="none" viewBox="0 0 100 100">
            <path d="M 90,50 10,90 10,10 z"></path>
        </svg>
        <svg id="right-side" class="svg-triangle sides-fix" preserveAspectRatio="none" viewBox="0 0 100 100">
            <path d="M 10,50 90,10 90,90 z"/>
        </svg>
    </div>
    <div id="welcome"><h1>.</h1></div>
    <div id="welcome"><h1>.</h1></div>
    <div id="welcome"><h1>.</h1></div>
    <div id="welcome"><h1>.</h1></div>
    <div id="welcome"><h1>.</h1></div>
    <div id="welcome"><h1>.</h1></div>
    <div id="welcome"><h1>.</h1></div>
    <div id="welcome"><h1>.</h1></div>
    <div id="welcome"><h1>.</h1></div>
    <div id="welcome"><h1>.</h1></div>
    <div id="welcome"><h1>.</h1></div>
    <script type="text/javascript" src="../scripts/indexSides.js"></script>
</body>