@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
}

:root {
    --black: #0e2229;
    --darkbrown: #362418;
    --orange: #FC440F;
    --darkblue: #1F01B9;
    --cyan: #2E8087;
    --white: #ffecbd;
    --gray: #7C9299;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 40px;
    font-family: 'Open Sans';
    background-color: var(--white);
    color: var(--darkbrown);
}

h1{
    font-family: 'Josefin Sans' !important;
    font-weight: bold;
    margin: 0 0 1em 0;
}

.btn {
    color: var(--white);
    padding: 0.5rem;
    border-radius: 5px;
    border: solid;
    border-width: 0.2rem;
    border-color: var(--white);
}

.btn:hover {
    cursor: pointer;
    filter: brightness(120%);
    transition: filter 100ms linear;
}