@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
}

:root {
    --black: #0e2229;
    --darkbrown: #362418;
    --orange: #FC440F;
    --darkblue: #1F01B9;
    --cyan: #2E8087;
    --white: #ffecbd;
    --gray: #7C9299;

    --josefin: "Josefin Sans";
    --open: "Open Sans"
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    margin-top: 150px;


    font-family: var(--open);
    background-color: var(--white);
    color: var(--darkbrown);
}

nav ol li {
    padding: 10px;
}

nav ol {
    list-style-type: none;
    padding-top: 100px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
}

nav.mobile-show {
    top: -100px;
}

nav.all-hide {
    top: -500px;
}

nav {
    width: 102%;
    border-radius: 100px;
    font-size: 20px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: -340px;
    padding: 1rem;
    padding-bottom: 0;
    z-index: 999;

    font-family: var(--open);
    box-shadow: 0px 7px 5px var(--darkbrown);
    background-color: var(--darkbrown);
    border: 20px solid whitesmoke;
    transition: 0.5s;
}

nav ul {
    list-style-type: none;
    padding-top: 50px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

nav h2 a {
    font-size: 30px !important;
    color: var(--cyan);
    text-shadow:
        whitesmoke 1px 0px 1px,
        whitesmoke -1px 0px 1px,
        whitesmoke 0px -1px 1px,
        whitesmoke 0px 1px 1px;
}

nav a {
    display: inline-block;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul li {
    display: none;
}

nav ul li:first-child {
    display: block !important;
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
    margin-left: 20px;
}

nav ul li:nth-last-child(2) {
    margin-right: 0;
}

nav ul li:last-child {
    margin-right: 30px;
    font-size: 30px;
    display: block !important;
    background-color: none;
}

footer {
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    position: relative;
    text-align: center;
    bottom: 0;
    padding: 1rem;
    padding-bottom: 0;

    font-family: var(--open);
    background-color: var(--darkbrown);
    border-top: 40px solid whitesmoke;
    z-index: 999;
    transition: 0.5s;
}

footer ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
    margin-left: 20px;
}

footer li:last-child {
    margin-right: 20px;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

footer h2 a {
    font-size: 40px !important;
    color: var(--cyan);
    text-shadow:
        whitesmoke 1px 0px 1px,
        whitesmoke -1px 0px 1px,
        whitesmoke 0px -1px 1px,
        whitesmoke 0px 1px 1px;
}

h3 {
    font-family: var(--josefin);
    color: whitesmoke;
    font-size: 10px;
    margin: 0;
    padding: 5px;
}

h2 {
    font-family: var(--josefin);
}

h1 {
    font-family: var(--josefin);
    font-weight: bold;
    margin: 0 0 1em 0;
}

.btn {
    color: var(--white);
    padding: 0.5rem;
    border-radius: 5px;
    border: solid;
    border-width: 0.2rem;
    border-color: var(--white);
}

.btn:hover {
    cursor: pointer;
    filter: brightness(120%);
    transition: filter 100ms linear;
}

@media only screen and (min-width: 640px) {
    nav.all-hide {
        top: -500px;
    }

    nav {
        width: 102%;
        background-color: var(--darkbrown);
        border: 40px solid whitesmoke;
        border-radius: 100px;
        font-family: var(--open);
        font-size: 20px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: -350px;
        padding: 1rem;
        padding-bottom: 0;
        box-shadow: 0px 7px 5px var(--darkbrown);
        z-index: 999;
        transition: 0.5s;
    }

    nav ul {
        list-style-type: none;
        padding-top: 40px;
        padding-left: 0;
        padding-bottom: 0;
        padding-right: 0;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    nav a {
        color: whitesmoke;
        text-decoration: none;
        font-weight: bold;
    }

    nav h2 a {
        font-size: 40px !important;
        color: var(--cyan);
        text-shadow:
            whitesmoke 1px 0px 1px,
            whitesmoke -1px 0px 1px,
            whitesmoke 0px -1px 1px,
            whitesmoke 0px 1px 1px;
    }

    nav ul li {
        display: block;
    }

    nav ul li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
        margin-left: 20px;
    }

    nav ul li:nth-last-child(2) {
        margin-right: 20px;
    }

    nav ul li:last-child {
        margin-right: 0;
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {
    nav {
        width: 1000px;
    }
}

@media only screen and (min-width: 1280px) {
    nav {
        width: 1000px;
    }
}