input[type="file"] {
    display: none;
}

#import-block {
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 250px;
    max-width: 400px;
    position: relative;
    text-align: center;
    
    background-color: var(--cyan);
    color: whitesmoke;
    border: 40px solid whitesmoke;
    border-radius: 100px;
    box-shadow: 0px 7px 5px var(--darkbrown);
}

h1{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#btn-container {
    margin:auto;
    bottom: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#upload-label {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    position: relative;

    font-family: var(--josefin);
    background-color: var(--darkbrown);
    color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 100px;
}

#file-image{
    width: 80%;
    margin-bottom: 70px;
}

#fill {
    height: 20vh;
}

@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1280px) {

}