body{
    overflow-x: hidden;
}

#welcome {
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 40px;
    text-align: center;
    z-index: -1 !important;
}

.svg-triangle {
    transition-property: height, width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.svg-triangle path {
    stroke-width: 10;
    stroke-linejoin: round;
    stroke-linecap: round;
}

#left-container {
    z-index: 20;
    width: 100%;
    position: absolute;
}

#right-container {
    z-index: 30;
    width: 100%;
    position: absolute;
}

#svg-container {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#left-side {
    float: left;
    left: -10px;
    position: relative;
}

#right-side {
    float: right;
    right: -10px;
    top: -20vh;
    position: relative;
}

.sides-show {
    height: 145vh;
    width: 52vw;
}

.sides-hide {
    height: 125vh;
    width: 42vw;
}

#fill {
    height: 300vh;
}

#sides-section {
    overflow-x: hidden;
    width: 100vw;
}

#sides-section-mobile {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card {
    flex: 0 0 auto;
}

@media only screen and (min-width: 1px) {
    #left-side {
        float: left;
        left: -10px;
        position: relative;
    }
    
    #right-side {
        float: right;
        right: 0vh;
        top: 0vh;
        position: relative;
    }
    
    #welcome {
        padding-top: 15px;
        width: 80%;
        font-size: 30px;
    }

    #sides-section-mobile {
        visibility: visible;
    }

    #sides-section {
        visibility: hidden;
    }

    .sides-show {
        height: 100vh;
        width: 90vw;
    }

    #fill {
        height: 0vh;
    }
    
    .sides-hide {
        height: 100vh;
        width: 90vw;
    }
}

@media only screen and (min-width: 640px) {
    #left-side {
        float: left;
        left: -10px;
        position: relative;
    }
    
    #right-side {
        float: right;
        right: -10px;
        top: -20vh;
        position: relative;
    }

    #welcome {
        padding-top: 15px;
        width: 80%;
        font-size: 40px;
    }

    .sides-show {
        height: 145vh;
        width: 52vw;
    }
    
    .sides-hide {
        height: 125vh;
        width: 42vw;
    }
    
    #fill {
        height: 200vh;
    }
    
    #sides-section-mobile {
        visibility: hidden;
    }

    #sides-section {
        visibility: visible;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1280px) {

}