:root {}

body {}

#welcome {
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 40px;
    text-align: center;
    z-index: -1 !important;
}

.btn {
    font-size: 30px;
    font-family: var(--josefin);
    color: whitesmoke;
    border-color: whitesmoke;
}

#sides-container {
    width: 100%;
}

#left-side {
    float: left;
    left: -10%;
    top: 60%;
    stroke: whitesmoke;
    fill: var(--cyan);
}

#right-side {
    float: right;
    top: 70%;
    right: -10%;
    stroke: whitesmoke;
    fill: var(--gray);
}

.sides-show {
    position: absolute;
    width: 60%;
}

.sides-stay {
    position: absolute;
    width: 40%;
}

.sides-fix {
    position: fixed;
    width: 40%;
}

.svg-triangle path {
    stroke-width: 10;
    stroke-linejoin: round;
    stroke-linecap: round;
}

@media screen and (max-width: 1600px) {
    #welcome {
        padding-top: 15px;
        width: 80%;
        font-size: 30px;
    }

}