{% extends 'appbase.html' %}

{% block content %}
<form id="import-form" method="post" enctype="multipart/form-data">
    <div id="import-block">
        <h1>Your GEDCOM goes here</h1>
        <img id="file-image" src="{{ url_for('static', filename='images/file.png') }}">
        <div id="btn-container">
            <label id="upload-label" for="file-upload" class="btn">
                Import file
            </label>
            <input id="file-upload" name="file" type="file">
            <input type="submit" value="Submit">
        </div>
    </div>
</form>
<div id="import-fill"></div>
{% endblock %}