{% extends 'appbase.html' %}

{% block content %}
<div class="wrapper">
    <article class="content">
        <div id="myDiagramDiv" class="gentree">
            <canvas tabindex="0" width="719" height="598"
                style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 719px; height: 598px; cursor: auto;"></canvas>
            <div style="position: absolute; overflow: auto; width: 719px; height: 598px; z-index: 1;">
                <div style="position: absolute; width: 1px; height: 1px;"></div>
            </div>
        </div>
    </article>

    <div class="block-a">
        <div>Viewing:</div>
        <img id="viewing-icon" src="{{ url_for('static', filename='images/file.png') }}">
        <h4>{{ session.get("filename") }}</h4>
    </div>
    <div class="block-b">
        <div>Tools</div>
        <h4>Not available in this version</h4>
    </div>
    <div class="block-c">
        <div>Options</div>
        <div><button id="zoomToFit" class="btn zoom">Zoom out</button></div>
        <div><button id="centerRoot" class="btn save">Center on root</button></div>
        <div><button id="fullscreen" class="btn save">Fullscreen mode</button></div>
    </div>
</div>
<textarea id="peopleDataTest" style="width:100%; height:270px; display: none;">
        {{ session.get("view_model") }}
    </textarea>
<script src="https://unpkg.com/gojs@2.3.10/release/go.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/genogram.js') }}"></script>
{% endblock %}