
{% extends 'appbase.html' %}

{% block content %}
    <section>
        <div id="welcome">
            <h1>Show your geneaology tree to the world.</h1>
            <h1>Better.</h1>
            <div>Start now with just one import of your GEDCOM file and easily migrate from </div>
            <div>MyHeritage, Ancestry and more.</div>
            <h1></h1>
            <form id="example-form" method="post">
                <button name="example" value=1 type="submit" formmethod="post" class="btn btn-example"><h2 class="btn-example">Show example</h2></button>
                <button type="none" class="btn btn-start"><h2 class="btn-start">Get started</h2></button>

            </form>
        </div>
    </section>
    <section id="sides-section">
        <div id="left-container">
            <div id="svg-container">
                <img id="left-side" class="svg-triangle sides-hide" src="{{ url_for('static', filename='images/left-triangle.svg') }}">
            </div>
        </div>
        <div id="right-container">
            <div id="svg-container">
                <img id="right-side" class="svg-triangle sides-hide" src="{{ url_for('static', filename='images/right-triangle.svg') }}">
            </div>
        </div>
    </section>
    <section id="sides-section-mobile">
        <div class="card">
            <img id="left-side" class="svg-triangle sides-hide" src="{{ url_for('static', filename='images/left-triangle.svg') }}">
        </div>
        <div class="card">
            <img id="right-side" class="svg-triangle sides-hide" src="{{ url_for('static', filename='images/right-triangle.svg') }}">
        </div>
    </section>
    <div id="fill"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/indexSides.js') }}"></script>
{% endblock %}