{% extends 'appbase.html' %}

{% block content %}
<section>
    <div id="welcome">
        <h1>Show your geneaology tree to the world.</h1>
        <h1>Better.</h1>
        <div>Start now with just one import of your GEDCOM file and easily migrate from </div>
        <div>MyHeritage, Ancestry and more.</div>
        <h1></h1>
    </div>
</section>
<section id="sides-section">
    <div id="left-container">
        <div id="svg-container">
            <div id="left-side-text-container" class="sides-hide">
                <div id="left-side-text">
                    <section>
                        <img class="shape-outside-left sides-hide">
                        <h1 class="side-text">
                            Preserve memories in your own way.
                        </h1>
                        <h4 class="side-text">
                            Manage your geneaology tree layout or use various tools to put an emphasis on your most
                            important family stories. GedMap allows you to highlight tree branches, rearrange leaves and
                            many more. Discover it yourself.
                        </h4>
                        <form id="example-form" class method="post">
                            <button name="example" value=1 type="submit" class="btn btn-side btn-example">
                                <h2 class="btn-example">Show example</h2>
                            </button>
                        </form>
                    </section>
                </div>
                <img id="left-side-svg" class="svg-triangle sides-hide"
                    src="{{ url_for('static', filename='images/left-triangle.svg') }}">
            </div>
        </div>
    </div>
    <div id="right-container">
        <div id="svg-container">
            <div id="right-side-text-container" class="sides-hide">
                <div id="right-side-text">
                    <section>
                        <img class="shape-outside-right sides-hide">
                        <h1 class="side-text">
                            Accessible for every member of your family.
                        </h1>
                        <h4 class="side-text">Register, log in, and grant access for your family. All genograms can be shared with other
                            GedMap users or with anyone by copy-pasting links. Viewer is suitable for all browsers including
                            mobile devices.
                        </h4>
                        <div>
                            <button id="btn-start" type="button" class="btn btn-side btn-start">
                                <h2 class="btn-start">Get started</h2>
                            </button>
                        </div>
                    </section>
                </div>
                <img id="right-side-svg" class="test-shape-outside svg-triangle sides-hide"
                    src="{{ url_for('static', filename='images/right-triangle.svg') }}">
            </div>
        </div>
    </div>
</section>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<div><h1 class="fill">.</h1></div>
<section id="sides-section-mobile">
    <div class="card">
        <img id="left-side-svg" class="svg-triangle sides-hide"
            src="{{ url_for('static', filename='images/left-triangle.svg') }}">
    </div>
    <div class="card">
        <img id="right-side-svg" class="svg-triangle sides-hide"
            src="{{ url_for('static', filename='images/right-triangle.svg') }}">
    </div>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/indexSides.js') }}"></script>
{% endblock %}